.container{
    background-color: white;
    justify-content:center ;
    align-items: center;
    border: white 1px ;
    border-radius: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 45px;
    padding-top: 20px;
    margin: 50px;
    width: 400px;
    margin-left: 400px;
    

}
body{
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    
}
.head{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    font-weight: 600;

    
}
.temp{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.convert{
    background-color: rgb(11, 144, 253);
    color: aliceblue;
    border: rgb(11, 144, 253);
    border-radius: 15px;
    padding: 10px;
    padding-left: 160px;
    padding-right: 160px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: x-large;
    margin-top: 10px;
    margin-right: 30px;
    
}
.button{
    text-align: center;

}
.input{
    border: white;
}
.grey{
    color: rgb(108, 107, 107);
}
.time{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}